html {
  height: 100%
}

body {
  min-height: 100%;
  margin: 0 auto;
  width: 100%; 
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
}
.wrap {
  width: 750px;
  margin: 30px 30px;
}

fieldset {
  border: 2px solid lime;
  margin-bottom: 30px;
}

legend {
  font-weight: bold;
  font-size: 20px;
}

input[type="submit"] {
  border: 2px solid red;
  background: orange;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.first li {
  margin: 15px 0;
}

input {
  border:1px solid lightgray;
  border-radius: 2px;
  font-size: 16px;
}

input[name="first_name"], input[name="last_name"] {
  width: 250px;
}

input[name="age"] {
  width: 50px;
} 

.small {
  font-size: 13px;
  margin: 0;
}

.stext input {
  width: 140px;
}

select[name="position"] {
  margin-top: 15px;
}

.end+p {
  margin: 0;
}

.head_list_bold {
  font-weight: bold;
  margin: 15px 0;
  font-size: 18px;
}

.head_list_italic {
  font-style: italic;
  margin-bottom: 15px;
}

input[readonly="readonly"] {
  font-size: 12px;
  height: 20px;
  width: 240px;
  padding-left: 10px;
}

#email {
  width: 250px;
}